html{
    font-size: 62.5%;
}

aside{
    position: fixed;
    left: 0;
    top: 0;
    height: 100rem;
    width: 8rem;
    filter: drop-shadow(5px 5px 5px #000);
    z-index: 5;
    background-color: white;
    transition: 0.5s ease-in;
}
.imgs{
    margin: 30vh 2vh;
    transition: 1s ease;
    opacity: 0;

}
.side-item{  
     display: grid;
     width: 35px;
     height: 35px;
     margin-bottom: 4.2vh;
     grid-column: 1/2;
}

.texts {
    display: grid;
    font-size: 25px;
}
.letter{
    margin: -57.5rem 5rem;
    transition: opacity 0.85s ease-out;
    margin: 2.5rem;
    opacity: 0;
    grid-column: 2/3;
}

.side-item:hover {
    background-color: rgba(55, 45, 103, 0.258);
    border-radius: 40%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    transform: scale(1.20);
    transition: 150ms ease;
}

aside.activ{
    width: 28vh;
}

body.hovered {
    margin-left: 18rem;
    transition: 0.5s ease-in;
    overflow: hidden;
}

body.transition{
    transition: 1s ease-out
}

aside.activ .imgs{
    opacity: 1;
}

aside.activ .imgs{
    transition: 1s ;
}

#menu{
    margin: 45rem 1.2rem;
    width: 50px;
    height: 50px;  
    transition: 0.8s ease-out;
}

aside.activ #menu{
    margin: 2rem 1.2rem;
    width: 50px;
    height: 50px; 
    transition: 0.8s ease-in-out;
    animation: kali 1s both;
}

aside.activ .letter{
    margin: 2.5rem;
    display: grid;
    opacity: 1; 
    transition: 1s ease-in;
}

.container{
    display: grid;
    grid-template-columns: 35px 1fr;
    grid-template-rows: repeat(autofill, auto);
    gap: 15px;
}

@keyframes kali {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
